<html>

<head>
    <title>歷史資料搜尋</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/historysearch.css">
</head>

<body>
    
    <div class="box">
        <div>
            <button><a href="/index/">回首頁</a></button>
        </div>
        <p class="stockName">{{code}}{{shortname}}</p>
        <p class="time">時間{{inputtime}}</p>
    </div>
    <div class="image">
        <img src='/static/image/historySearch.jpg'>
        <img src='/static/image/historyKD.jpg'>
    </div>
</body>

</html>